<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= form.label :context, class: 'form-label' %>
    <%= form.text_area :context, class: 'form-control' %>
  </div>
  <div class="row mb-3">
    <div class="col-md-3">
      <%= form.label :deadline, class: 'form-label' %>
      <%= form.date_field :deadline, class: 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= form.label :priority_id, class: 'form-label' %>
      <%= form.collection_select :priority_id, @priorities, :id, :name, {prompt: false}, class: 'form-select' %>
    </div>
    <div class="col-md-3">
      <%= form.label :category_id, class: 'form-label' %>
      <%= form.collection_select :category_id, @categories, :id, :name, {prompt: true}, class: 'form-select' %>
    </div>
    <div class="col-md-3">
      <%= form.label :goal_id, class: 'form-label' %>
      <%= form.collection_select :goal_id, @goals, :id, :description, {prompt: true}, class: 'form-select' %>
    </div>
  </div>
  <div class="form-check form-switch mb-3">
    <%= form.label :completed, class: 'form-check-label' %>
    <%= form.check_box :completed, class: 'form-check-input' %>
  </div>
  <div>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
