<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= task.deadline %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= task.context %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= task.category_id %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= task.label_id %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= task.goal_id %>
  </p>

</div>
