<!DOCTYPE html>
<html>
  <head>
    <title>GTD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
      <div class="container-fluid">
        <%= link_to 'GTD', root_path, class: 'navbar-brand fw-bold text-indigo-500' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <div class="dropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item me-4">
                <a class="btn btn-outline-warning position-relative" id="notification" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-bell"></i>
                  <span class="position-absolute mt-2 start-100 translate-middle badge rounded-pill bg-danger">
                    99+
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end" aria-labelledby="notification">
                  <span class="dropdown-item dropdown-header text-center fs-6 fw-bold">15 Notifications</span>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <i class="bi bi-envelope me-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <i class="bi bi-people-fill me-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item">
                    <i class="bi bi-file-earmark me-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item dropdown-footer text-center fw-bold fs-6">See All Notifications</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= current_user.name %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                  <li><%= link_to 'Profile', edit_user_registration_path, class: "dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <% if user_signed_in? %>
                      <%= button_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                        Sign out <b class="bi bi-arrow-bar-right"></b>
                      <% end %>
                    <% end %>
                  </li>
                </ul>
              </li>
            </div>
          </div>
        </div>
      </nav> <!-- end topbar -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-sm-12 pt-2 pb-2 borda-vertical">
            <% if alert || notice %>
              <div class="alert <%= alert ? 'alert-warning' : 'alert-info' %> alert-dismissible fade show" role="alert">
                <%= alert ? alert : notice %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% end %>
            <%= yield %>
          </div>
          <div class="col-2 d-sm-none d-md-block pt-2 pb-2 sidebar" id="sidebar">
            <h3>Search</h3>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label fw-bolder">Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name task">
            </div>
            <hr>
            <div class="text-center fs-5 fw-semibold">OR</div>
            <hr>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label fw-bolder">Start at</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="99/99/999">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label fw-bolder">Finished at</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="99/99/9999">
            </div>
            <hr>
            <div class="text-center fs-5 fw-semibold">OR</div>
            <hr>
            <div class="mb-3">
              <label for="id_category" class="form-label fw-bolder">Category</label>
              <select class="form-select" id="id_category" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary col-12">Search</button>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
